[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
channels = "*"
requests = "*"
djangorestframework-simplejwt = "*"
channels-redis = "*"
googlemaps = "*"
daphne = "*"

[dev-packages]

[requires]
python_version = "3.14"
